/**
 * @fileName lib
 * @author leo<474398734@qq.com>
 */
@w5: 5px;
@c33: #333333;
.mt5 { margin-top: @w5;}
.mt10 { margin-top: @w5*2;}
.mt15 { margin-top: @w5*3;}
.mt20 { margin-top: @w5*4;}
.mt25 { margin-top: @w5*5;}
.mt30 { margin-top: @w5*6;}
.mb5 { margin-bottom: @w5;}
.mb10 { margin-bottom: @w5*2;}
.mb15 { margin-bottom: @w5*3;}
.mb20 { margin-bottom: @w5*4;}
.mb25 { margin-bottom: @w5*5;}
.mb30 { margin-bottom: @w5*6;}
.mr5 { margin-right: @w5;}
.mr10 { margin-right: @w5*2;}
.mr15 { margin-right: @w5*3;}
.mr20 { margin-right: @w5*4;}
.mr25 { margin-right: @w5*5;}
.mr30 { margin-right: @w5*6;}
.ml5 { margin-left: @w5;}
.ml10 { margin-left: @w5*2;}
.ml15 { margin-left: @w5*3;}
.ml20 { margin-left: @w5*4;}
.ml25 { margin-left: @w5*5;}
.ml30 { margin-left: @w5*6;}
.pt5 { padding-top: @w5}
.pt10 { padding-top: @w5*2}
.pt15 { padding-top: @w5*3}
.pt20 { padding-top: @w5*4}
.pt25 { padding-top: @w5*5}
.pt30 { padding-top: @w5*6}
.pb5 { padding-bottom: @w5}
.pb10 { padding-bottom: @w5*2}
.pb15 { padding-bottom: @w5*3}
.pb20 { padding-bottom: @w5*4}
.pb25 { padding-bottom: @w5*5}
.pb30 { padding-bottom: @w5*6}
.pr5 { padding-right: @w5}
.pr10 { padding-right: @w5*2}
.pr15 { padding-right: @w5*3}
.pr20 { padding-right: @w5*4}
.pr25 { padding-right: @w5*5}
.pr30 { padding-right: @w5*6}
.pl5 { padding-left: @w5}
.pl10 { padding-left: @w5*2}
.pl15 { padding-left: @w5*3}
.pl20 { padding-left: @w5*4}
.pl25 { padding-left: @w5*5}
.pl30 { padding-left: @w5*6}
.f12 {font-size: @w5*2+2}
.f14 {font-size: @w5*2+4}
.f16 {font-size: @w5*2+6}
.f18 {font-size: @w5*2+8}
.f20 {font-size: @w5*2+10}
.l { float: left;}
.r { float: right;}
.t_l { text-align: left;}
.t_r { text-align: right;}
.t_c { text-align: center;}
.clear { clear: both;}
.overflow { overflow: hidden;}
.d_n {display:none;}
.d_b{display:block;}
.d_ib{-moz-inline-stack:inline-block; display:inline-block;}
.d_i{display:inline;}
.lh14 {line-height:@w5*2+4;}
.lh16 {line-height:@w5*2+6;}
.lh18 {line-height:@w5*2+8;}
.lh20 {line-height:@w5*2+10;}
.lh22 {line-height:@w5*2+12;}
.lh24 {line-height:@w5*2+14;}
.c33 { color: @c33;}
.c66 { color: @c33*2;}
.c99 { color: @c33*3;}
.c00 { color: @c33 - #333333;}
.cff { color: @c33 + #cccccc;}