/**
 * @fileName reset
 * @author leo<474398734@qq.com>
 */
@none:none;
@enough: 100%;
@normal: normal;
@middle: middle;
@zero: 0;
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0;padding: 0;}
a:link,a:visited,a:hover,a:active { text-decoration: @none;}
h1, h2, h3, h4, h5, h6 {font-size: @enough; font-weight:@normal;}
address, cite, dfn, em, var {font-style: @normal;}
fieldset, img {border: @none;}
ul,ol,li{ list-style-type: @none; padding: @zero;}
i{ vertical-align:@middle;}
i,label,input[type="checkbox"]{ vertical-align:@middle;}
button, input, select, textarea {font-size: @enough;}